# Ignorar pastas geradas localmente pelo Terraform
.terraform/
.terraform.lock.hcl

# Arquivos de estado do Terraform (NUNCA DEVEM IR PARA O GITHUB)
*.tfstate
*.tfstate.*
*.tfstate.backup

# Arquivos de variáveis locais (contêm as chaves OCI ou segredos)
*.tfvars
*.tfvars.json

# Sobrescritas locais
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log

# Plan file que criamos via GitHub Actions ou localmente
*tfplan*
plan.txt

# Chaves PEM / SSH temporárias na raiz (se geradas via terminal e esquecidas)
*.pem
*.key
*.pub
